*.dtmp
*.bkp
.directory
Assembler/.~lock.Microcode.xlsx\#
Logisim/.Shmerlard8.circ.autosave
Control_logic_Programmer/.~lock.Microcode.xlsx\#
/venv
/Assembler/__pycache__
/Assembler/__pycache__
/Control_logic_Programmer/__pycache__
*.xlsx#
/Assembler/python/venv
/Control_logic_Programmer/python/venv
fp-info-cache
Instruction_Register-backups
*/*-backups/
