.vscode
venv
.$Main-Diagram.drawio.bkp
.$Main-Diagram.drawio.dtmp
.$Main-Diagram.drawio.bkp
*.bkp
*.bkp
*.dtmp
*.bkp
/.vscode
.vscode/launch.json
.vscode/settings.json
.directory
Logisim/Shmerlard8 (1).circ
Logisim/Shmerlard8 copy.circ
Assembler/.~lock.Microcode.xlsx\#
